@model IEnumerable<Teacher>

<h1>School Teachers</h1>

@using (Html.BeginForm())
{
	<div class="input-group">
		@Html.TextBox("SearchByName",null,new { @class="form-control", @placeholder="Search by Name...."})
		<inupt type="submit" value="Search" class="btn btn-outline-success">Search</inupt>
		<a asp-action="Create" class="btn btn-outline-primary">Create Teacher</a>
	</div>
		
}

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.ActionLink("Teacher Name","Index",new {sortField="TeacherName", currentSortField=ViewBag.SortField, sortDirection=ViewBag.SortDiection})
			</th>
			<th>
				@Html.DisplayNameFor( model => model.TeacherDoB)
			</th>
			<th>
				@Html.DisplayNameFor( model => model.TeacherDoH)
			</th>
			<th>
				@Html.DisplayNameFor( model => model.TeacherDepartmentName)
			</th>
			<th>
				@Html.ActionLink("Teacher Salary","Index",new {sortField="TeacherSalary", currentSortField=ViewBag.SortField, sortDirection=ViewBag.SortDiection})
			</th>
			<th>
				CRUD
			</th>
		</tr>
	</thead>
	<tbody>
		@foreach( var item in Model)
		{
		<tr>
			<td>
				@Html.DisplayFor( modelitem => item.TeacherName)
			</td>
			<td>
				@Html.DisplayFor( modelitem => item.TeacherDoB)
			</td>
			<td>
				@Html.DisplayFor( modelitem => item.TeacherDoH)
			</td>
			<td>
				@Html.DisplayFor( modelitem => item.TeacherDepartmentName)
			</td>
			<td>
				@Html.DisplayFor( modelitem => item.TeacherSalary)
			</td>
			<td>
			@Html.ActionLink("Edit","Edit", new{id = item.TeacherId})
			@Html.ActionLink("Delete","Delete", new{id = item.TeacherId}, new { onclick = "return confirm ('Are You Sure To Delete?');"})
			</td>
		</tr>
		}
	</tbody>
</table>